body{
    font-size: 22px;
    line-height: 3;
    font-family: hind guntur,sans-serif;
    color: #0a0a0a;
    
}
.content-edit{
    position: relative;
/*    width: 1000px;
    height: 475px;*/
    margin-left: 10%;
    top: 50px;
}
.contain {
    font-size: 20px;
    width: 70%;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.display-hotspot{
}
#video360edit{
    width: 100%;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.add-hotspot-button {
    border: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    font-family: inherit;
}
.add-hotspot-button{
    color: #20b1ff;
}
.hotspot-list-box{
    height: 250px;
    overflow-y: auto;
}
hotspot-list-box .table {
    margin-top: 56px;
    margin-bottom: 60px;
}
.table {
    width: 100%;
    max-width: 100%;

}
.icon-hotspot-number {
    display: block;
    width: 34px;
    height: 34px;
    line-height: 35px;
    font-style: normal;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #20b1ff;
    cursor: default;
    border: 2px solid #20b1ff;
}
.add-hotspot{
    margin-top: 20px;
}
.hotspot{
    position: absolute;
    top: 50%; 
}
#hotspotadd{
    left:10%;
}
#hotspotadd1{
    left:20%;
}
.form-info{
    width: 80%;
    line-height: 28px;
    border: 2px solid #20b1ff;
    border-radius: 10px;
    margin: 20px;
}
.btn-square{
    display: inline-block;
    min-height: 50px;
    min-width: 160px;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3;
    padding: 9px 20px 5px;
    margin: 5px 0;
    border: 0;
    color: #fff;
    background-color: #005bff;
}